body {
  font-family: "Segoe UI";
}

.jumbotron {
  background-color: rgb(25, 25, 221);
  color: rgb(255, 255, 255);
}
.jumbotron h1,p {
  text-align: center;
}
.jumbotron p{
  font-size: 24px;
}
p {
  text-align: left;
  font-size: 200%;
}
.col-sm-6 {
  padding: 0px 2%;
  margin-top: 2%;
}
.col-sm-6 p {
  text-align: center;
}
.navbar.navbar-default {
  background-color: rgb(25, 25, 221);
  font-size: 24px;
}
.nav.navbar-nav li a {
  color: white;
}
.nav.navbar-nav li a:hover{
  color: rgb(201, 201, 201)
}
.map iframe {
  margin-top: 2%;
}
.map {
  text-align: center;
}
.large-space {
  margin-bottom: 50%;
}
.card p {
  font-size: 80%;
}

img {
  border-radius: 3%;
}

.img2 {
  text-align: center;
  margin-top: 5%;
}